<div id="clearance" class="password-reset width-full h-screen flex items-center justify-center">
  <div>
    <h2 class="w-full font-semibold text-3xl mb-1 text-sky-800"><%= t(".title") %></h2>
    <div class="px-10 py-6 shadow-lg rounded-md bg-gradient-to-br from-sky-500 to-violet-400">

      <p class="w-full text-sm mb-4 text-blue-100"><%= t(".description") %></p>

      <%= form_for :password, url: passwords_path do |form| %>
        <div class="text-field mb-4 flex justify-between items-baseline">
          <%= form.label :email, class: "text-sky-50" %>
          <%= form.email_field :email, class: "shadow-inner rounded-md" %>
        </div>

        <div class="submit-field submit-field w-full flex justify-center mt-2">
          <%= form.submit class: "px-4  cursor-pointer text-sky-100 font-semibold" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
